* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Italic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Light.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-LightItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-MediumItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-SemiBoldItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-ExtraLightItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-BoldItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: grid;
    grid-template-columns: clamp(220px, 220px, 300px) 1fr;
    grid-template-rows: 100%;
    font-family: 'Plus Jakarta Sans';
}

:root {
    --sb-bg: #1d3557;
    --sb-nr-icon-height: 25px;
    --sb-hr-icon-height: 50px;
    --sb-fn-clr: #ffffff;

    --mn-bg: rgba(142, 202, 230, 50%);
    --mn-hr-bg-clr: #ffffff;

    --mn-hr-usr-icon-height-sml: 50px;
    --mn-hr-usr-icon-height-lrg: 60px;
    --mn-hr-icon-height: 20px;

    --mn-hr-search-bg: #9a8c98;
    --mn-hr-btn-border-clr: #fca311;
    --mn-hr-btn-bg-clr: #1d3557;
    --mn-hr-btn-bg-clr-hvr: rgba(29, 53, 87, 80%);

    --mn-hr-btn-fnt-clr: #ffffff;

    --mn-artcl-bg: #ffffff;
    --mn-artcl-btn-bg: #ffffff;
    --mn-artcl-brdr-clr: #e07a5f;

    --mn-artcl-btn-hvr-fav: #fca311;
    --mn-artcl-btn-hvr-paw: #dda15e;
    --mn-artcl-btn-hvr-lik: #ef476f;


    --ibar-ann-trnd-bg: #ffffff;
    --ibar-ann-trnd-brdr-clr: #e07a5f;
    --ibar-trnd-usr-height: 50px;
}


/* 
** @Title:  Sidebar
** @About:  Designing the sidebar, 
**          Designing Logo, Positions, etc!
*/
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0px 20px;
    background-color: var(--sb-bg);
}

.sidebar_sticky {
    position: sticky;
    top: 0;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    margin: 20px 0px;
    color: var(--sb-fn-clr);
    font-size: 20px;
    font-weight: bolder;
}

.title img {
    height: var(--sb-hr-icon-height);
    border-radius: 8px;
}

/* 
** @Title:  Sidebar/Navigation
** @About:  Designing the sidebar, 
**          Designing Logo, Positions, etc!
*/
.navigation {
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
}

.navigation .ul_general,
.navigation .ul_setting {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navigation img {
    height: var(--sb-nr-icon-height);
    border-radius: 50%;
}

.navigation li {
    list-style-type: none;
}

.navigation li a {
    text-decoration: none;
    color: var(--sb-fn-clr);

    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 10px;
}


/* 
** @Title:  Main Content
** @About:  Designing the main content, 
**          header, grids, etc!
*/
.main {
    background-color: var(--mn-bg);

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
    padding-bottom: 30px;
}

/* 
** @Title:  Main Content/Header (Top/Bottom)
** @About:  Designing the header inside main content, 
**          top row, lower row, images, etc.
*/
.header {
    padding: 10px 15px;
    background-color: var(--mn-hr-bg-clr);
    box-shadow: 0px 10px 15px -5px rgba(43, 158, 179, 100%);
}

.firstrow {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.firstrow .firstrow_left,
.firstrow .firstrow_right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.firstrow .firstrow_left {
    flex: 1;
}

.firstrow .hr_icon {
    height: var(--mn-hr-icon-height);
}

.firstrow img {
    height: var(--mn-hr-usr-icon-height-sml);
    border-radius: 50%;
}

.firstrow input[name="search"] {
    flex: 1;

    background-color: var(--mn-hr-search-bg);
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    height: 20px;
}

.firstrow input[name="search"]:focus {
    outline: none;
}

.lastrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.lastrow img {
    height: var(--mn-hr-usr-icon-height-lrg);
    border-radius: 50%;
}

.lastrow .userdata {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.lastrow .userdata p {
    font-size: 12px;
}

.lastrow .userdata h4 {
    font-size: 16px;
}

.lastrow .new_upl_shr {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.lastrow .new_upl_shr button {
    border: 1px solid var(--mn-hr-btn-border-clr);
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--mn-hr-btn-bg-clr);
    color: var(--mn-hr-btn-fnt-clr);

    transition: transform 0.1s;
}

.lastrow .new_upl_shr button:hover {
    transform: scale(0.95);
    background-color: var(--mn-hr-btn-bg-clr-hvr);
}

/* 
** @Title:  Main Content/content (Article Sections)
** @About:  Designing the article holders,  
**          Designing the infobar....
*/
.content {
    display: grid;
    gap: 15px;
    grid-template-columns: auto clamp(200px, 220px, 250px);
    padding: 0px 0px 0px 15px;
}

.article_section {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: clamp(150px, 150px, 200px);
}

.article {
    display: grid;
    background-color: var(--mn-artcl-bg);
    padding: 5px 10px;

    border-left: 5px solid var(--mn-artcl-brdr-clr);
    border-radius: 5px;
}

.article p {
    font-size: 12px;
}

.interactive_button_container {
    display: flex;
    gap: 5px;
    justify-content: end;
    align-self: end;
    margin: 10px 0px 0px 0px;
}

.interactive_button_container .interactive_btn {
    border-radius: 50%;
    border: none;
    padding: 3px;
    background-color: var(--mn-artcl-btn-bg);
}

.interactive_button_container .Favorite:hover,
.interactive_button_container .Paw:hover,
.interactive_button_container .Like:hover {
    transform: scale(0.9);
}

.interactive_button_container .Favorite,
.interactive_button_container .Paw,
.interactive_button_container .Like {
    transition: transform 0.2s;
}

.interactive_button_container .Favorite:hover {
    background-color: var(--mn-artcl-btn-hvr-fav);
}

.interactive_button_container .Paw:hover {
    background-color: var(--mn-artcl-btn-hvr-paw);
}

.interactive_button_container .Like:hover {
    background-color: var(--mn-artcl-btn-hvr-lik);
}

/* 
** @Title:  Main Content/infobar (Article sub-section)
** @About:  Designing the infobar,  
*/
.infobar {
    display: grid;
    gap: 10px;
    margin-right: 5px;
}

.announcements {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;

    background-color: var(--ibar-ann-trnd-bg);
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid var(--ibar-ann-trnd-brdr-clr);
}

.announcements h5 {
    font-size: 14px;
}

.announcements p {
    font-size: 12px;
}

.announcements small {
    font-size: 10px;
    font-weight: bold;
}

.announcements hr {
    max-height: 0;
}


.trending {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--ibar-ann-trnd-bg);
    border-left: 5px solid var(--ibar-ann-trnd-brdr-clr);

    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.trending .panda_bear,
.trending .brown_bear {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
}

.trending img {
    height: var(--ibar-trnd-usr-height);
    border-radius: 50%;
}

.username h4 {
    font-size: 14px;
}

.username p {
    font-size: 12px;
}